# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [4]:
# integer ia a whole number
favorite_number = 23

##### Assinging float

In [ ]:
#float is a number with decimal
a_float = 1.5

#### Performing Calculations on ints and floats

##### Addition

In [5]:
print(5+5)


print(favorite_number + 5)
print(favorite_number)

10
28
23

##### Subtraction

In [14]:
print(10-5)

#reassigning  value
#long hard version
print(favorite_number - 10)
favorite_number = favorite_number -10
print(favorite_number)

# short hand version
a_float -= .3
print(a_foat)

5
-37
-37

##### Multiplication

In [19]:
print(5*2)

print(favorite_number * 3)
#reassign
#long hard
favorite_number = favorite_number *3

#short hand version
favorite_number *= 3
print(favorite_number)

10
-8991
-26973

##### Division

In [22]:
#o utput a float

print(10/2)
print(favorite_number / 3)

# still holding original value
print(favorite_number)

favorite_number /= 3
print(favorite_number)

5.0
-8991.0
-26973
-8991.0

##### Floor Division

In [26]:
#output an integer
print(11//2)
#reassigning our value with floar division
favorite_number //= 9
print(favorite_number)

print(11.5 // 2)

print(5.0 == 5)

5
-13.0
5.0
True

##### Modulo

In [29]:
#used with % outputs remainder

print(10 % 2)

print(11 % 2)

print(124 % 25)

0
1
24

##### Exponential

In [34]:
# + +
# squaring
print(10**2)

print(10**3)

my_num = 10
#reassigning
#long hard
my_num = my_num ** 2
print(my_num)
#short hand
print(my_num)

100
1000
100
100

### String Input-Output

##### String Assignment

In [41]:
instructor = 'Sean'

print(type(instructor))

num_string ='500'

print(type(num_string))

num_string = '100'

<class 'str'>
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [46]:
#
print(instructor, end='\n')
print('hello world')
print('test')

Sean
hello world
test

##### String Concatenation

In [57]:
first_name = " agent"
last_name = "Smith"
full_name = first_name + '' + last_name
print(full_name)
 #reassigning
my_name = "dylan"
#long hard
my_name = my_name + " smith"
print(my_name)

#short version
my_name += " jr"

print(my_name)

 agentSmith
dylan smith
dylan smith jr

##### Type Conversion

In [64]:
print(my_num, type(my_num))

print(type(str(my_num)))

print(type(my_num))

#reassigned to convert number
my_num = str(my_num)

#type error
#my_num + 5
print(my_num, type(my_num))

100 <class 'int'>
<class 'str'>
<class 'int'>
100 <class 'str'>

##### input()

In [2]:
#takes a prompt as an argument 
#always return a string

user_name = input('What is your name? ')

user_age = input('what is your age? Enter in digits ')

What is your name?Hemet
what is your age? Enter in digits 45

##### format()

In [4]:
print('user is {} years old '.format(user_age))

user is 45 years old

In [76]:
print(' User {} is {} years old'.format(user_name, user_age))

 User hemet is 99 years old

##### Old Way (python 2)

In [79]:
print('User %s is %s years old'%(user_name, user_age))

User hemet is 99 years old

In [7]:
print(f' {user_name} is {user_age} years old')

 Hemet is 45 years old

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [89]:
color = input('what color is your car?')
year = input('what year is your car made?')
make = input('What is make of your car?')
model = input('what is model of your car?')

what color is your car?zebra
what year is your car made?tall
What is make of your car?andCanClimb
what is model of your car?Mountain

In [90]:
print (f'My car is a {color} {year} {make} {model} that has great hight')

My car is a zebra tall andCanClimb Mountain that runs great

### If Statements

In [127]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

if True and False:
    print('True and False')
if True or False:
    print("True or False")
    
if 5+5 == 10 and 11 > 10:
    print('11 > 10 == 10')
    print('second action')
    
 #true or False  

if 5 + 5 >10 and 11 > 10:
    print('11 > == 10')
    print('second action')
    
if 10 == 11 and int(input('what is your age')) >18:
    print(' breaking at first condition')
    
    #t or F
if 10 == 11 or int(input('what is your age')) >18:
    print(' breakimng at first condition')
    
#t Or TR

if 1 > 0 or 10 ==10:
    print('both true')
    
# F or F
if 1 > 2 or 2 > 3:
    print('both true using or')

True or False
11 > 10 == 10
second action
what is your age17
both true

In [105]:
if True:
    print('condition true')
if 1: print('true')
if 5: print('true')
if 0: print:('zero true')

condition true
true
true

In [134]:


if 5 < 4:
print(5< 4)
    if 5 > 4:
        print('five > 4')
        
    if 5 < 4:
        print('five < 4')
        
    if 5 == 5:
        print("5 == 5")
        
    if 5 + 5 > 9:
        print('10 > 9')
        
    if  >= 4:
        print('10 >= 10')
    
    if  >= 4:
        print('10 >= 10')
        print(10!=10)
        
        #not equal
if 10 != 10:
    print('10 != (not equal) 9')

IndentationError: expected an indented block (1548206904.py, line 2)

##### 'is' keyword

In [135]:
simple_list = [1,2,3,4]

basic_list = [1,2,3,4]
#true

##### 'in' keyword

In [144]:
#membership check
character = 'Neo'
print('N' in character)
# case sensetive
print("n" in character)

print('O','N', 'E' in 'NEO')
print("no" in 'neo')
#out of order
print('one' in 'neo')
print(['o','N','e'] in 'Neo')

if  'N' in 'neo':
    print("N in Neo")

True
False
O N True
False
False

TypeError: 'in <string>' requires string as left operand, not list

##### 'not in' keyword'

In [146]:
if 'z' not in character:
    print("no z in Neo")
    
if 'n' not in 'neo':
    print('no n in neo')

no z in Neo

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [11]:
imput('why classical music is calming? ')
if True:
    .find("letter 'p' is in input")
print(imput)

SyntaxError: invalid syntax (3828108577.py, line 3)

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

##### Break Statement

In [ ]:
# will break out of current loop

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

### While Loops

##### Looping 'While True'

##### While & For Loops Used Together

### Built-In Functions

##### range()

##### len()

##### help()

##### isinstance()

##### abs()

### Try and Except

### Lists

##### Declaring Lists

In [3]:
my_sum = 0
for num in range(5):
    print(my_sum,'',num)
    sum += num
print(my_sum)

0  0
0  1
1  2
3  3
6  4
10

In [ ]:
#declare list with

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [11]:
for num in range (1000):
    for (**) in >1000
    print()
    break
    print(**>1000)

SyntaxError: invalid syntax (3498761358.py, line 2)

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>